<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>

	<property file="src/main/resources/application.properties" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<appender name="LOG_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${destination}.log</file>
		<encoder>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${user_home}/archived/${log.name}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<!-- or whenever the file size reaches 50MB -->
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- and keep only 30 days' of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- Send logs to both console and file audit -->
	<logger name="com.junithybrid.test" level="INFO" additivity="false">
		<appender-ref ref="LOG_FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="LOG_FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>